/* los colores se declaran en variables para que al utilizarlos se pueda modificar
 demanera mas practica la paleta de colores */
:root {
  /* boton de validar */
  --primaryColor-bg: #006ebb;
  /* boton de resetear */
  --secundaryColor-bg: #a4abb1;
  /*   colores de boton terciario  */
  --TertiaryColor-bg: #fff;
  --TertiaryColor-b: #646363;
  /* color del hover a algun boton */
  --keyColor-bg: #797c;
  --keyColor-sb: #666;
  /* boton de herramienta o utilidad */
  --auxBtnColor-bg: #fff;
  --auxBtnColor-b: #e17055;
  /* color del unicode de verificar */
  --checkColor: #fff;
  /* color del unicode de resetear el artefacto */
  --resetColor: black;
  /* color de la clase border dark */
  --borderDark-bg: #fff;
  --borderDark-b: #000000;
}

/* ////////////////////////////////////////////////////////////////////////// */
.textCenter {
  text-align: center;
  font-size: 12px;
  padding: 2px;
}

.check::after {
  color: var(--checkColor);
  content: " ✓";
  font-weight: bolder;
  font-size: 26px;
}

.reset::after {
  color: var(--resetColor);
  content: "\021bb";
  font-weight: bolder;
  font-size: 26px;
}

/*borde negro del board*/
.border-board-dark {
  position: relative;
  overflow: hidden;
  background-color: borderDark-bg;
  border-style: solid;
  border-width: 1px;
  border-color: borderDark-b;
  border-radius: 10px;
  margin: 0;
  -webkit-border-radius: 10px;
}

/* centrar contenedor */
.itemContenFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* estado active de los botones mantiene pulsado el boton */
.buttonDownActive {
  background-color: var(--keyColor-bg);
  box-shadow: 0 2px var(--keyColor-sb);
  transform: translateY(2px);
}
/* estylo base de los botones */
.styleBtn {
  box-shadow: 0 3px var(--keyColor-sb);
  border-radius: 0.25rem;
  display: inline-block;
  line-height: normal;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 40px;
}
/* cuando se pulsa un boton */
.styleBtn:active {
  background-color: var(--keyColor-bg);
  box-shadow: 0 2px var(--keyColor-sb);
  transform: translateY(2px);
}
/* clase de los botones primarios */
.buttonPrimary {
  background-color: var(--primaryColor-bg);
  border: none;
}

/* clase de los botones secundarios */
.buttonSecundary {
  background-color: var(--secundaryColor-bg);
  border: none;
}
/* clase de los botones terciarios*/
/* #a4abb1 */
.buttonTertiary {
  background-color: var(--TertiaryColor-bg);
  border: 1px solid var(--TertiaryColor-b);
}
/* clase de los botones auxiliares*/
.buttonAux {
  background-color: var(--auxBtnColor-bg);
  border: 1px solid var(--auxBtnColor-b);
}

/*------ base board --------*/
.artifacBase {
  width: fit-content;
  max-width: 400px;
  height: fit-content;
  max-height: 600px;
  font-family: Arial, Helvetica, sans-serif;
}
/* botones del artefact base */
.btnBaseArtifact {
  padding: 4px;
  justify-content: flex-end;
  gap: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
/* board del artefact base */
.baseBoard {
  min-height: 100px;
  max-height: 400px;
  min-width: 260px;
  height: 500px;
}
/* clases para elemento del contenedor superior*/
.statement-top {
  display: block;
}
/* clases pabes del contenedor superior e inferior */
.statement {
  min-height: 30px;
}
/* clase para el contenedor en si de artefacto de diagramas */
.verticalDiagram {
  max-width: 420px;
  width: 280px;
}

.colorInput {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  min-width: 45px;
  min-height: 25px;
  background-color: #ffffff;
  -webkit-border-radius: 10px;
  z-index: 100;
}

.main {
  padding: 4px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.all-btn {
  display: none;
}
