:root {
  --dark-blue: #1c2739;
  --darker-blue: #141c29;
  --light-blue: #3c4759;
  --text-color: #dadada;
  --dark-blue-shadow: #111822ab;
}

body {
  background: linear-gradient(var(--dark-blue), var(--darker-blue));
  font-family: sans-serif;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100dvh;
  margin: 0;
}

h1 {
  font-weight: 100;
  text-transform: uppercase;
  color: var(--text-color);
  text-shadow: 5px 5px 1px var(--dark-blue-shadow);
}

.container {
  width: 75vw;
  mask: linear-gradient(90deg, transparent, white 25%, white 75%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 25%,
    white 75%,
    transparent
  );
}

.list {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.container[data-animated] {
  overflow: hidden;
}

.container[data-animated] .list {
  height: 200px;
  width: max-content;
  animation: scroll 50s linear infinite;
}



.carousel-image {
  width: 150px;
  background: var(--light-blue);
  color: var(--text-color);
  padding: 5px;
  border-radius: 10px;
  border: #dadada solid 1.5px;
  box-shadow: 2px 2px 2px var(--dark-blue-shadow),
    2px 3px 3px var(--dark-blue-shadow), 2px 5px 5px var(--dark-blue-shadow),
    2px 8px 8px var(--dark-blue-shadow);
  object-fit: cover;
}

.container[data-animatedReverse] {
	overflow: hidden;
  }
  
  .container[data-animatedReverse] .list {
	height: 200px;
	width: max-content;
	animation: scroll2 40s linear infinite;
  }
  
  @keyframes scroll {
    to {
      translate: calc(-50% - 5px);
    }
  }
@keyframes scroll2 {
  0% {
	translate: calc(-50% - 6px);
  }
}


@media only screen and (max-width: 450px){
  @keyframes scroll {
    0% {
    translate: calc(-50% - 6px);
    }
  }
  @keyframes scroll2 {
    to {
      translate: calc(-50% - 5px);
    }
  }
}