div[dataset-target="target"] {
  display: flex;
  background-color: rgb(152, 234, 245);
  width: 250px;
  height: 150px;
  margin: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

div[dataset-target="target"] > .chield {
  text-align: center;
  width: 100px;
  color: rgb(229, 255, 0);
  border-radius: 5px;
}

div[dataset-target="target"] div {
  background-color: red; /* aqui mover */
  color: blue;
}
